In [1]:
import sys
print(sys.version)     #Python code to return your Python version

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [2]:
##Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id")]
variable_id = "customer_id = 513"
variable_id

'customer_id = 513'

In [16]:
#Run the following statement    id = id+1    , why there is an error

var_id =122
var_id = var_id+1 
print (var_id)  #the error is because id is a builtin function that can not be used as a variable so i have changed it to var_id . 
               #and var_id has to be assigned value first inorder to add 1 to it.

123

In [17]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
var_id = int('123')
var_id_new = var_id+1 
var_id_new

124

In [19]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.
print ("Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [20]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
course[:1]

'P'

In [25]:
# Print the element on the 13th index in the string
course[13:14]

't'

In [26]:
# Find the length of string
len(course)

23

In [27]:
#Print the last element in the string [use negative index]
course[-1]

'e'

In [28]:
#Take the slice on variable course with only index 11 to index 14
course[11:14]

'Dat'

In [29]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [34]:
# Concatenate course string with ", AI & Development"
A = "Python "
B = ", AI & Development"
C = A+B
C

'Python , AI & Development'

In [35]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science

course="Python for Data Science"
print(course.replace(" " , "_"))

Python_for_Data_Science

In [36]:
# Convert all the characters in string to upper case
course="Python for Data Science"
print(course.upper())

PYTHON FOR DATA SCIENCE

In [37]:
print(course.lower()) #this makes prints in lower case

python for data science

In [38]:
print(course.title()) this prints every first letter of every word in a sentence

Python For Data Science