In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3)
my_Tuple=("NPower","JDA","Tuesday",30,3)

In [2]:
#Q2 What is the type of myTuple
type(my_Tuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(my_Tuple)

5

In [6]:
#Q4 print the values in each index #Use regular indexing
my_Tuple[0:4]

('NPower', 'JDA', 'Tuesday', 30)

In [11]:
#Q5 print the values in each index #Use negative indexing
my_Tuple[-5:-1]

('NPower', 'JDA', 'Tuesday', 30)

In [23]:
#Q6 what is the type of each value
type("NPower")

str

In [24]:
type("JDA")

str

In [25]:
type("Tuesday")

str

In [26]:
type(30)

int

In [27]:
type(3)

int

In [41]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables 
(name,program,dayName,month_day,year)=my_Tuple

In [43]:
print(name)

NPower

In [44]:
print(program)

JDA

In [45]:
print(dayName)

Tuesday

In [47]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year) #i dont understand this question yet.

(name,program,dayName)=myTuple2

In [51]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

In [52]:
a,b,c=Tuple1

In [53]:
print("Type a",type(a))

Type a <class 'str'>

In [54]:
print(a,b,c)

Jerry 2 89

In [59]:
d=Tuple2
print(type(d))

<class 'tuple'>

In [60]:
print(d)

('Ulan',)

In [61]:

e=test

In [62]:
print(e)

Leul

In [63]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and hold a different information
testTuple=(1,2,3)
print(testTuple)

(1, 2, 3)

In [64]:
testTuple=(4,5,6)
print(testTuple)

(4, 5, 6)

In [65]:
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [80]:
#Q9 Reverse my_Tuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower"
my_Tuple= ('NPower', 'JDA', 'Tuesday', 30)
my_Tuple

('NPower', 'JDA', 'Tuesday', 30)

In [81]:
my_Tuple = tuple(reversed(my_Tuple))
print(my_Tuple)

(30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [82]:
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [84]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [86]:
#Q12 print each element in the nestedTuple
nestedTuple[0]

('Coursera', 'course', 6)

In [87]:
nestedTuple[1]

('week', (2, 'Lists', 'Tuple'))

In [93]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [94]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [107]:
Q15 Access the value "Tuple" from nestedTuple
val = nestedTuple[1][1][2]  
print(val)

SyntaxError: invalid syntax (1962766126.py, line 1)

In [108]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [110]:
#Q17 Concatenate myTuple with nestedTuple
concatenated_tuple=my_Tuple+nestedTuple
print(concatenated_tuple)

(30, 'Tuesday', 'JDA', 'NPower', ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [135]:
#Q18 add your name to the tuple
concatenated_tuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
newnam="Doreen"
my_tuple_with_name=concatenated_tuple+(newnam,)
print(my_tuple_with_name)

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Doreen')

In [136]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples
my_tuple_with_name

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Doreen')

In [137]:
if "Coursera" in my_tuple_with_name:
    print("Coursera is in the tuple")
else:
    print("Coursera is not in the tuple")

Coursera is not in the tuple

In [138]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)

In [141]:
if "55" in testTuple:
   print("55 is in testTuple")
else:
   print("55 is not in testTuple")

55 is not in testTuple

In [142]:
#Q21 Find the index of JDA in myTuple
my_Tuple

(30, 'Tuesday', 'JDA', 'NPower')

In [144]:

index = my_Tuple.index('JDA')
print(index)

2

In [145]:
my_Tuple[2]
print(index)

2

In [146]:
# Find the index of 'NPower' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
index=my_Tuple.index("NPower")
print(index)

3

In [150]:
#Q22 print index 2 from myTuple
my_Tuple[2]

'JDA'

In [153]:
#Q23 Get the 2rd element from the begining of myTuple and 1st element from last o
my_Tuple

(30, 'Tuesday', 'JDA', 'NPower')

In [154]:
second_element=my_Tuple[1]
print(second_element)

Tuesday

In [155]:
first_element_from_end=my_Tuple[-1]
print(first_element_from_end)

NPower

In [156]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple

(1, 2, 33, 55, 6, 55)

In [158]:
count=testTuple.count(55)
print(count)

2